.wrapper{
    display: flex;
align-items: center;
background: #0A222D;
flex-direction: column;
padding: 16px;
height: 100%;


.characters-list-header {
    width: 100%;
    .search {
        display: flex;
        align-items: flex-start;
        color: white;
        margin: 5px;
      }
    }
.table-container{
    flex-grow: 1;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    width: 100%;
    .MuiTablePagination-root {
        overflow: unset;
       
    }
}

}

