#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTable-root {
  background: #c4c4c4;
  min-width: 750px;
}

.MuiInputLabel-root {
  color: aqua !important;
}

#standard-basic {
  color: aqua !important;
}

.MuiToolbar-root {
  color: white !important;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.MuiTableCell-head {
  color: black !important;
  background-color: #c4c4c4 !important;
}

.MuiInput-input {
  color: white !important;
}

::before {
  border-bottom: 1px solid aqua !important;
  width: 300px;
}

::after {
  border: 0.5px solid aqua !important;
  width: 300px;
}

.MuiTableCell-root {
  color: black !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #0a222d !important;
  height: 1px;
}

.MuiTableRow-root {
  color: aqua;
}

.sort-label {
  color: white;
}
